<div class="container" ng-controller="ActionController as actionCtrl">

  <div class="row">
    <div class="col-sm-3">
      <div class="input-group">
        <span class="input-group-addon">Server</span>
        <select class="form-control" id="selectServerAddress" ng-model="curIP" ng-options="e.host as e.host for e in ipList" required>
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="setupConnection()">Connect!</button>
        </span>
      </div>

    </div>
    <div class="col-sm-9">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <!-- <div side-menu></div> -->
      <div class="list-group">
        <a href="#/" class="list-group-item active">
                    Server command
                </a>
        <a href="#/" class="list-group-item">
                    User data command
                </a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <button type="button" class="btn btn-danger btn-lg" ng-click="doAction()">Submit</button>
            <small>Description</small>
          </div>
          <hr>
          <div json-human="jsonResult"></div>
          <!--
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>
          -->
        </div>
        <div class="col-sm-4">
          <p><b>User ID :</b><span class="label label-default">{{uID}}</span></p>
          <h4>
            <span class="label label-success"> Log console</span>
          </h4>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Auto scroll
            </label>
          </div>

          <textarea class="form-control" rows="20" col="8" id="textArea" style="resize: none;font-family:Courier New;font-size: 0.8em;" readonly>{{consoleLogs}}</textarea>
        </div>

        <!-- /.col-lg-6 -->
      </div>
    </div>
  </div>
</div>
